<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<link th:href="@{/css/product.bundle.css}" rel="stylesheet"/>
<script src="https://kit.fontawesome.com/829e5d7ffb.js" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>Product Overview - Timely</title>
</head>
<header></header>

<body>
<th:b th:replace="fragments :: navbar"></th:b>

<section th:fragment="productOverview">
    <div class="product_overview">
        <h2>Overview</h2>
        <p><strong>Timely</strong> is a time management application that allows you to create, manage, organize, and track the progress of your projects.
            Get started by simply creating a project and specify your tasks. When you're ready to start working on a task, navigate to the task
            you're working on and click <em>Start</em>. Done working for the day or simply taking a break? No problem! Click <em>Stop</em> in your
            task view to punch your time card.
        </p>
        <h2>How to:</h2>
        <div class="group">
            <h3>Create a project</h3>
            <p>Create your first project once you sign up! To create additional projects, click on the create a project button on the Projects page
                and enter the project name and the name of your first task.</p>
            <div class="images-container">
                <img th:src="@{/images/createProject.png}" alt="Create a project view" style="margin: 0 auto;">
            </div>
        </div>
        <div class="group">
            <h3>View more info about your project</h3>
            <p>After you have created a project, you will see your project show up on your Projects page.
                To gain more info click on the name of the project, and you will be taken to a page showing you your list of tasks
                for the project. Each task has information such as the status of task and how much time has been spent on the task.
                Click on the name of the task to get access to your notes!
            </p>
            <p>Starting a task will begin keeping track of your time working on the task and update the status to "In progress". When you're done working on the task
                for the day, just click 'Stop' button and your time spent on task will update.</p>
            <div class="images-container">
                <img th:src="@{/images/projectInfo.png}" alt="Project overview page"><img th:src="@{/images/taskInfo.png}" alt="Project overview page">
            </div>
        </div>
        <div class="group">
            <h3>Create additional tasks</h3>
            <p>You can create additional tasks for your project to manage by clicking on the 'Create task' button on your project overview page.
                This will take you to a screen allowing you to enter info regarding the new task name, status, and notes for the new task.</p>
            <div class="images-container">
                <img th:src="@{/images/createTask.png}" alt="Create a task view">
            </div>
        </div>
    </div>
</section>
<script type="module" defer th:src="@{/js/product.bundle.js}"></script>
</body>
</html>